streamlit==1.32.0
streamlit-authenticator==0.3.1
python-dotenv==1.0.1
PyYAML==6.0.2
langchain==0.3.24
langchain-openai==0.3.14
langchain-community==0.3.22
langchain-core==0.3.55
openai==1.76.0
tiktoken==0.9.0
numpy==1.26.4
pandas==2.2.3
PyMuPDF==1.23.8
google-auth-oauthlib==1.0.0
google-api-python-client==2.88.0
PyDrive2==1.15.0
faiss-cpu==1.7.4
python-levenshtein==0.22.0
scikit-learn==1.4.1
